In [1]:
import pandas as pd
import numpy as np
%precision %.3f

'%.3f'

In [2]:
df = pd.read_excel(r'..\..\..\apt.xlsx',skiprows =[0])
df.head()

,시도,시군구,단지분류,도로명주소,분양형태,세대수,분양세대수,시공사,시행사
0,서울특별시,종로구,주상복합,"서울특별시 종로구 사직로8길 4,서울특별시 종로구 경희궁길 57",분양,744,744.0,풍림산업(주),사직1구역 도심 재개발조합
1,서울특별시,종로구,아파트,서울특별시 종로구 사직로8길 34,분양,150,150.0,쌍용건설,군인공제조합
2,서울특별시,종로구,주상복합,서울특별시 종로구 돈화문로11가길 59,분양,291,291.0,현대건설,팬퍼시픽
3,서울특별시,종로구,주상복합,서울특별시 종로구 종로 183,분양,298,298.0,(주)효성건설,태승플레이
4,서울특별시,종로구,도시형 생활주택(주상복합),서울특별시 종로구 대학로 33,분양,152,152.0,신홍선건설,마르코통상

In [47]:
# (공백이랑 (주) 제거 )
df['시공사'] = df['시공사'].str.strip()
df['시공사'] = df['시공사'].str.replace('(주)','')
df_sigongsa = df['시공사']
df_cnt = df_sigongsa.value_counts()
top50 = df_cnt[25:50]


# 시공횟수 많은 top 50 기업 
pd.DataFrame(top50)

         count
시공사
한화건설        96
서희건설        94
계룡건설        89
풍림산업        89
우방          85
우미건설        82
극동건설        79
남양건설        78
태영건설        78
삼호          78
한라건설        77
동아건설        76
중흥건설        75
진흥기업        74
성원건설        74
양우건설        73
중앙건설        66
LH          65
동원개발        63
한일건설        62
건영          62
삼익건설        60
동문건설        58
화성산업        57
현대엔지니어링     57

In [33]:
df2 = pd.read_excel(r'..\..\..\point3.xlsx')
df2 = df2.drop(df2.columns[[0,2,3,4,5,7]], axis=1) 
df2 = df2.rename(columns = {'Unnamed: 6' : '현장벌점 합'})
df2['업체명'] = df2['업체명'].str.strip()
df2['업체명'] = df2['업체명'].str.replace('(주)','')

# 이름 겹치는 기업들 다 합쳐주기
df2 = df2.groupby('업체명').sum()


# top50 기업중 벌점 존재하는 기업들 (이름, 시공횟수, 벌점)
cnt = 0
for i in top50.index:
    if i in df2.index:
        point = df2[df2.index == i].values
        print(i,top50[i],point[0][0])
        cnt += 1
print(cnt)

In [65]:
# # 현장벌점 합 높은 top20
site_bad_top = df2.sort_values(by = '현장벌점 합', ascending = False)
site_bad_top20 = site_bad_top[:20]
site_bad_top20 = pd.DataFrame(site_bad_top20['현장벌점 합'])

# 합산벌점 합 높은 top20
tot_bad_top = df2.sort_values(by='합산벌점', ascending = False)
tot_bad_top20 = tot_bad_top[:20]
tot_bad_top20 = pd.DataFrame(tot_bad_top20['합산벌점'])

site_bad_top20['순위'] = site_bad_top20['현장벌점 합'].rank(method='min', ascending=False)
site_bad_top20
tot_bad_top20['순위'] = tot_bad_top20['합산벌점'].rank(method='min', ascending=False)
tot_bad_top20

pd.concat([site_bad_top20, tot_bad_top20], axis=1)
#bad_top20 ['현장벌점 합 순위'] = site_bad_bad['순위']

# #벌점 낮은 top30
# good_top = df2.sort_values(by = '합산벌점',ascending = True)
# good_top30 = good_top[:30]
# good_top30

# # 시공횟수 탑 50개중에 벌점 순위 높은 30개 기업 (0개)
# cnt2 = 0
# for i in top50.index:
#     if i in bad_top30.index:
#         point2 = bad_top30[bad_top30.index in i].values
#         print(i,top50[i],point2[0][0])
#         cnt2+=1
# print(cnt2)


# # 시공횟수 탑 50개중에 벌점 순위 낮은 30개 기업 (1개)
# cnt2 = 0
# for i in top50.index:
#     if i in good_top30.index:
#         point2 = good_top30[good_top30.index == i].values
#         print(i,top50[i],point2[0][0])
#         cnt2+=1
# print(cnt2)

             현장벌점 합    순위  합산벌점    순위
업체명
삼우아이엠씨         19.0   1.0  3.86   2.0
연세종합건설         16.0   2.0  3.28   3.0
서유종합건설         14.0   3.0  2.87   6.0
도시이엔씨종합건설      14.0   3.0  2.87   6.0
이조건설           13.0   5.0  2.67   8.0
동원에이스건설        11.0   6.0  2.26  11.0
이도이엔씨          10.0   7.0  2.05  12.0
라온종합건설         10.0   7.0  2.05  12.0
에덴종합건설         10.0   7.0  2.05  12.0
투데이건설          10.0   7.0  2.05  12.0
삼락종합건설         10.0   7.0  2.05  12.0
유명종합건설         10.0   7.0  2.05  12.0
스카이드림건설        10.0   7.0  2.05  12.0
이안알앤씨           8.0  14.0  4.00   1.0
주식회사아이티엠이앤씨     7.0  15.0   NaN   NaN
다온시앤디           7.0  15.0   NaN   NaN
용성종합건설          7.0  15.0   NaN   NaN
그랑드종합건설         7.0  15.0   NaN   NaN
와이즈건설           7.0  15.0   NaN   NaN
에이치씨건설          7.0  15.0   NaN   NaN
계담종합건설          NaN   NaN  3.00   4.0
키움건설            NaN   NaN  3.00   4.0
다대종합건설          NaN   NaN  2.50   9.0
화성산업            NaN   NaN  2.40  10.0
대호종합건설          NaN   NaN  2.01  19.0
건한종합건설          NaN   NaN  2.00  20.0